{%extends "layout.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About Us</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
  <section class="hero">
  <div class="hero-text">
    <h1>About <span class="highlight">Us</span></h1>
    <p1>
      Foodtruck Finder is a student developed software that aims to inform
      other students with current information regarding all food trucks in
      the Drexel area.
    </p1>
    <br><br>
    <div>
      <a href="https://gitlab.cci.drexel.edu/cid/2526/ws1023/62/gc3/drexel-food-truck-interactive-map" class="about-github">
        <i class="fa-brands fa-gitlab"></i> View on GitLab
      </a>
    </div>
    <br>
    <div>
      <a href="/download/food-truck-data" class="about-github"> 🚚 Download Our Food Truck Data</a>
    </div>
  </div>
  <div class="about-us-img">
    <img src="../static/images/ourteam.webp" alt="Foodtruck Finder" />
  </div>
  <div class="scroll-indicator">
        <span>Scroll down</span>
        <i class="fa-solid fa-chevron-down"></i>
        </div>
        </div>
</section>

<section class="team-section">
  <span class="label">Drexel students behind it.</span>
  <h1>Meet Our Team</h1>
  <div class="team-container">

    <div class="team-card">
      <img src="../static/images/david.JPG" class="team-member-img" alt="David">
      <p1><strong>David Liberatore</strong><br>Backend Developer</p1><br>
      <p2>dal366@drexel.edu</p2>
    </div>

    <div class="team-card">
      <img src="../static/images/andre.jpeg" class="team-member-img" alt="Andre">
      <p1><strong>Andre Nunes Da Silva</strong><br>Fullstack Developer</p1><br>
      <p2>an3243@drexel.edu</p2>
    </div>

    <div class="team-card">
      <img src="../static/images/alex.jpeg" class="team-member-img" alt="Alex">
      <p1><strong>Alex Troeschel</strong><br>Data Analyst</p1><br>
      <p2>at3698@drexel.edu</p2>
    </div>

    <div class="team-card">
      <img src="../static/images/maisha.jpeg" class="team-member-img" alt="Maisha">
      <p1><strong>Maisha Sultana</strong><br>Frontend Developer</p1><br>
      <p2>ms5529@drexel.edu</p2>
    </div>

    <div class="team-card">
      <img src="../static/images/kyle.jpeg" class="team-member-img" alt="Kyle">
      <p1><strong>Kyle Cuba</strong><br>Website Developer</p1><br>
      <p2>kjc366@drexel.edu</p2>
    </div>

  </div>
</section>
</body>
</html>
{%endblock%}