<!DOCTYPE html>
<!--Template for other html pages to use-->
<html lang="en">
<!--Applies styles and leaflit to all of the html pages, along with giving the page a title-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!--Updated so my icons would work-->
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png')}}">
</head>
<!--Creates the navigation bar at the top of the screen, containing buttons for each page-->
<body>
    <nav>
        <div class="logo">Foodtruck Finder</div>
        <ul class="nav-links">
            <!-- Light/Dark mode toggle button — visible on all pages, functionality coming next sprint -->
            <li><button id="mode-swap"><i class="fas fa-sun"></i></button></li>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.map_page')}}">Map</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
            <li><a href="{{ url_for('main.userForm') }}">Truck Submissions</a></li>
        </ul>
    </nav>
    <!--The html for other pages is put here when rendering, so that the above html is consistent-->
    {%block content%}
    {%endblock%}

    <footer>
        <p> 2026 Foodtruck Finder | <a href="https://gitlab.cci.drexel.edu/cid/2526/ws1023/62/gc3/drexel-food-truck-interactive-map"> Open Sourced</a> <b>|</b> <a href="{{ url_for('main.about') }}"> Contact Us </a></p> <!-- Author: Andre Nunes da Silva | 04/09/26 @ 4:43PM-->
    </footer>

    <script src="{{ url_for('static', filename='js/functions/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions/visual/scrolling.js') }}"></script>
    <!-- Shared light/dark mode logic — loads on every page -->
    <script src="{{ url_for('static', filename='js/functions/theme.js') }}"></script>
</body>
</html>
